@model Angular4DotNetMVC.Models.Registration.RegistrationVm
@{
    ViewBag.Title = "Index";
}

@section JavascriptInHead{
    <script src="~/Scripts/Instructors/instructors-controller.js"></script>
    <script src="~/Scripts/courses/courses-controller.js"></script>
    <script type="text/javascript">
        registrationModule.factory('bootstrappedData',
            function() {
                return{
                    courses:@Html.Raw(Model.Courses),
                    instructors:@Html.Raw(Model.Instructors)
                };
            });
    </script>
}

<div class="container">
    <div class="row">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><span class="navbar-brand">Registration</span></li>
                </ul>
            </div>
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a href="/Registration/Courses">Browse Catalog</a></li>
                    <li><a href="/Registration/Instructors">Browse Instructors</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-view></div>
</div>